<style>
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
</style>


<div class="hero min-h-screen bg-gradient-to-r from-blue-900 via-indigo-950 to-slate-950 mb-16">
  <div class="hero-content flex flex-col lg:flex-row items-center justify-center text-center text-white">
    <img src="/assets/12.jpg" class="max-w-xl rounded-xl shadow-2xl mb-8 lg:mb-0 lg:mr-16 animate__animated animate__fadeInLeft" />
    <div class="animate__animated animate__fadeInRight">
      <h1 class="text-5xl font-extrabold leading-tight mb-4"style="font-family: 'Playfair Display SC', serif;">Welcome To The SALE IS E-COMMERCE</h1>
      <p class="text-xl mb-8"></p>
      <button class=" text-white btn primary transition ease-in-out delay-150 bg-sky-700 hover:-translate-y-2 hover:scale-120 hover:bg-blue-300 duration-100">
        <a routerLink="/dashboard">Shop Now</a>
      </button>
    </div>
  </div>
</div>
